body{
 background-color: black;
 height: auto;
}
.p1{
    display: inline-block;
    justify-content: center;
    color: white;
    margin-top: 60px;
    border: 2px solid grey;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 13px;
}
.center-text {
  display: flex;
  justify-content: center; 
  align-items: center;              
}
.new {
  display: inline-block;
  background-color: cyan;
  color: black;
  font-size: 12px;     
  font-weight: 600;      
  padding: 2px 9px;       
  border-radius: 14px;  
  vertical-align: middle; 
}

.head1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 65px;
    font-weight: 700;
}
.head2{
    color: cyan;
    display: flex;
    justify-content: center;
    font-size: 65px;
    font-weight: 700;
    padding-top: 0px;
}
.h51{
    color:#7e7e7e;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 18px;
}

.green-bullets {
  color: #7e7e7e; 
  display: flex;
  justify-content: center;
  padding-top: 35px;
  gap: 30px; 
  list-style-position: inside;
  list-style-type: disc;
}

.green-bullets li::marker {
  color: cyan;
}
.b1{
    background-color: cyan;
    padding: 12px 32px;
    border-radius: 12px;
    margin-left: 560px;
    margin-top: 20px;
}
.b2{
    background-color: black;
    color: white;
    padding: 12px 32px;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 1px gray;
    margin-left: 45px;
}
.p2{
    display: flex;
    justify-content: center;
    color: #7e7e7e;
    margin-top: 60px;
}
.company{
    color:#7e7e7e;
    display: flex;
  justify-content: center;
  gap: 30px; 
  list-style-position: inside;
  list-style-type: disc;
  font-weight: 600;
}
.p3{
     display: inline-block;
    justify-content: center;
    background-color: #101010;
    color: cyan;
    margin-top: 60px;
    border: 2px solid grey;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 13px;
    font-weight: 700;
}
.head3{
     color: white;
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
}
.head4{
     color: white;
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
}
.p4{
    color:#7e7e7e;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 18px;
}
.div1{
    display: inline-block;
    justify-content: center;
    margin-top: 60px;
    border: 2px solid grey;
    background-color: #101010;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 13px;
    margin-left: 140px;
    
}
.boxtext{
    color: white;
}
.p5{
    color:#7e7e7e;
    font-weight: 600;
}
.ninefive{
    color:cyan;
    font-weight: 500;
}
.ats{
    font-size: 15px;
    color:#7e7e7e;
}
.div2{
    display: inline-block;
    justify-content: center;
    margin-top: 60px;
    border: 2px solid grey;
    background-color: #101010;
    padding-left: 60px;
    padding-right: 56px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 13px;
    margin-left: 140px;
}
/* .longbox{
    width:1280px;
    height:100px;
    border-radius: 13px;
    background-color: #1a1a1a;
    margin-left: 140px;
} */
 /* .footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
} */

/* --- Stats Section --- */
.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #ccc;
  /* gap: 130px; */
  background-color: #141414;
  padding: 20px 20px;
  margin-left: 130px;
  border-radius: 20px;
  width: 85%;
 
}
.green{
    color:cyan;
}

.endbox{
    margin-top: 50px;
    background-color: #101010;
    height: 400px;
}
.textleft{
  color: cyan;
  font-size: 1.2rem;
  padding-left: 150px;
  padding-top: 80px;
}
.textleft2{
    color:#7e7e7e;
}
.textright{
   display: flex;
    margin-left: 1100px;
   
    gap: 40px;
}
hr {
  border: none;              
  height: 2px;               
  background-color: #514e4e;    
  margin: 40px auto;         
  width: 80%;               
}
.footer-bottom {
  color: #777;
  font-size: 0.85rem;
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}